/* THIS BLOCK OF CODE APPLIES TO ANYTHING */


@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../font/ProximaNova-Regular.eot');
	src: local('../font/Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/ProximaNova-Regular.woff') format('woff'),
		url('../font/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Proxima Nova Rg';
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
.back-to-top-button{
	position: fixed;
	display: none;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #DCD0FA;
	top: 850px;
	left: 50px;
	font-size: 40px;
	text-align: center;
	color: #fff;
	padding: 2px 0 0 0;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	-webkit-transition: background-color 0.3s;;
}
.back-to-top-button:hover{
	background-color: #C4B8E2;
	transition: 0.3s;
}
@media screen and (max-device-width: 1600px){
	.back-to-top-button{
		top: 670px;
	}
}
@media screen and (max-device-width: 1366px){
	.back-to-top-button{
		top: 538px;
	}
}


/* HEADER */



.header{
	height: 90px;
	width: 100%;
	background-color: #000;
}
.shortener{
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.logo{
	width: 85px;
}
.logo-link{
	display: block;
}
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 100px;
}
.menu-item{
	width: 25%;
	height: 15px;
	margin: 10px;
	text-align: center;
	-webkit-transition: box-shadow 0.3s;
}
.menu-item a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    padding: 0px;
    font-weight: bold;
}
.menu-item:hover{
	box-shadow: inset 0 0 0 1px #EB001C;
	transition: all 0.3s;
}
.icons{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.phone-box{
	display:flex;
	align-items: center;
}
.phone-img{
	width: 30px;
}
.icon-img{
	width: 40px;
}
.numbers-box{
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.phone-number{
	color: #fff;
}
.login-button{
	font-size: 14px;
	text-transform: uppercase;
	background-color: #DCD0FA;
	border-radius: 5px;
	padding: 6.5px 5px;
	margin: 0 5px;
	width: 70px;
	height: 30px;
	color: #000;
	text-align: center;
	-webkit-transition: background-color 0.3s;
}
.login-button:hover{
	background-color: #DCA3FA;
	transition: 0.3s;
}
.login-button-image{
	width: 30px;
	height: 30px;
	margin: -10px;
}



/* FOOTER */



.footer{
	min-height: 500px;
	background-color: #EFEFEF;
}
.footer-container{
	display: flex;
	justify-content: space-between;
	
	width: 50%;
	margin: 0 auto;
}
.footer-title{
	font-size: 20px;
	text-transform: uppercase;
	margin: 50px;
}
.nav-links{
	margin: 50px;
	font-size: 20px;
	color: #000;
}
.nav-item{
	margin: 40px 10px;
	text-transform: uppercase;
}
.nav-link{
	-webkit-transition: color 1s;
}
.nav-link:hover{
	color: #EB001C;
	transition: all 0.2s;
}
.social-box .footer-title{
	margin-left: 120px;
}
.social-icons{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.footer-icon-img{
	width: 50px;
}
.footer-icon{
	margin: 10px 30px;
}
.footer-separator{
	width: 50px;
	margin: 0 auto;
	padding: 30px 0 0 0;
	border-top: 5px solid #000;
}
.footer-copyright{
	padding: 0 0 30px 0;;
	text-align: center;
	text-transform: uppercase;
}



/* CART IF EMPTY */


.empty-cart{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.empty-cart h4{
	margin: 50px;
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.content-title{
	font-size: 35px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 10px;
	margin: 100px 40px;
}
.empty-cart-img{
	width: 300px;
}
.sending-button{
	padding: 30px;
	font-size: 20px;
	background-color: #000;
	color: #fff;
	margin: 0 0 40px 0;
	text-transform: uppercase;
	-webkit-transition: box-shadow 0.3s;
}
.sending-button:hover{
	box-shadow: inset 0 0 0 4px #EB001C;
	transition: all 0.3s;
}


/* INDEX.HTML BANNER AND FILLUP */


.content-container{
	width: 50%;
	margin: 0 auto;
}
.content-banner{
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 40px 0;
}
.content-title{
	text-transform: uppercase;
	color: #fff;
}
.content-button{
	display: block;
	width: 26%;
	padding: 20px 20px;
	margin: 0 0 40px 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	-webkit-transition: background-color 0.2s;
}
.content-button:hover{
	background-color: rgba(0, 0, 0, 0.7);
	transition: 0.2s;
}
.content-divider{
	border-top: 1px solid #000;
	width: 80%;
	margin: 0 auto;
	padding: 20px 0;
}


.content-showcase{
	display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 40px 0;
	width: 100%;
}
.showcase-card-viewer{
	margin: 1%;
	width: 49%;
	height: 300px;
	background-color: #DCD0FA;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 40px 0 40px;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}
.showcase-card-viewer:nth-child(even){
	margin-right: 0px;
}
.showcase-card-viewer:nth-child(odd){
	margin-left: 0px;
}
.showcase-card-button{
	display: block;
	width: 200px;
	padding: 20px 40px;
	margin: 130px 0 0 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	-webkit-transition: background-color 0.2s;
}
.showcase-card-title{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}
.showcase-card-button:hover{
	background-color: rgba(0, 0, 0, 0.7);
	transition: 0.2s;
}



/* ANY TYPE OF CARDS */



.content-card-holder{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 40px 0;
}
.content-card-title{
	text-transform: uppercase;
	font-size: 20px;
}
.content-card-holder-box{
	display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
	padding: 10px 0;
	width: 100%;
}
.card{
	margin: 0.83%;
	width: 23.7%;
	min-height: 350px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	-webkit-transition: background-color 0.3s;
}
.card:hover{
	background-color: rgba(0, 0, 0, 0.03);
	transition: all 0.3s;
	cursor: pointer;
}
.card:first-child{
	margin-left: 0px;
}
.card:last-child{
	margin-right: 0px;
}
.card-image-preview{
	width: 100%;
	height: 230px;
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}
.card-description{
	padding: 10px;
	height: 130px;
}
.content-card-link-title{
	font-size: 14px;
}
.content-card-link-price{
	font-size: 18px;
	text-align: right;
}
.colors-array-container{
	display: flex;
	margin: 5px;
}
.color-array{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-right: 5px;
	border: 1px solid #000;
}



/* REGISTRATION.HTML */



.form-holder{
	margin: 100px 0;
}
.form-title{
	margin: 50px 0;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: normal;
	text-align: center;
}
.register-form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.register-form label{
	margin: 15px;
	font-size: 20px;
	text-transform: uppercase;
}
.register-form input{
	margin-bottom: 10px;
	width: 300px;
	font-size: 20px;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
}
.register-form button{
	width: 275px;
	margin: 10px;
	font-size: 20px;
	padding: 20px 25px;
	background-color: rgba(0,0,0,0.03);
	text-transform: uppercase;
	border: 1px solid #000;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: background-color 0.3s;
}
.register-form button:hover{
	background-color: rgba(0,0,0,0.06);
	transition: 0.3s;
}
.checkbox-label input{
	width: 25px;
	height: 25px;
	margin: 5px 0;
}
.checkbox-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.checkbox-description{
	text-transform: uppercase;
	font-size: 12px;
}
.no-account{
	text-transform: uppercase;
	margin: 10px;
}
.link-to-register{
	color: #D491F4;
	-webkit-transition: color 0.2s;
}
.link-to-register:hover{
	color: #D453F4;
	transition: 0.2s;
}




/* CATALOG.HTML */



#content-title{
	font-size: 25px;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	margin: 100px 0 0 0;
	font-weight: normal;
}
.sort-buttons-container{
	display: flex;
	justify-content: space-between;
}
.sort-label{
	text-transform: uppercase;
}
.sort-buttons{
	display: flex;
	align-items: center;
	margin: 120px 0 10px 40px;
}
.custom-select{
	text-transform: uppercase;
	margin: 0 0 0 10px;
	border-radius: 3px;
	font-size: 16px;
}
.pages-container{
	margin: 20px 0 50px 0;
}
.pages-holder{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 100%;
}
.page{
	border: 1px solid #000;
	width: 150px;
	height: 50px;
	text-align: center;
	-webkit-transition: border 0.2s;
	text-transform: uppercase;
	border-radius: 5px;
}
.page-link{
	display: block;
	height: 50px;
	padding: 13px 0;
}
.page:hover{
	border: 1px solid #EB001C;
	transition: 0.2s;
}

.catalog-menu-panel{
	display: flex;
	justify-content: space-between;
}
.catalog-menu-panel-form{
	display: flex;
	justify-content: space-between;
	margin: 50px 0 0 0;

}
.checkbox-container{
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
}
.checkbox-container input{
	width: 25px;
	height: 25px;
}
.checkbox-container p{
	display: block;
	width: 100%;
	margin: 0 0 0 10px;
}
.form-checkbox-attributes{
	text-transform: uppercase;
	font-size: 14px;
}
.checkbox-attributes-button{
	text-transform: uppercase;
	font-size: 16px;
	width: 80px;
	height: 40px;
	text-align: center;
	padding: 6px;
	margin: 25px 90px 0 90px;
	border: none;
	border-radius: 5px;
	background-color: #DCD0FA;
	-webkit-transition: background-color 0.3s;
}
.checkbox-attributes-button:hover{
	background-color: #DCA3FA;
	cursor: pointer;
	transition: 0.3s;
}
.attribute-label{
	height: 30px;
}





/* PRODUCT PAGE */




.main-product-container{
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
.main-image-container{
	width: 49%;
	margin: 0 1% 0 0;
}
.main-product-info-container{
	width: 49%;
	margin: 0 0 0 1%;
	padding: 40px;
}
.product-main-title{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
}
.product-category{
	text-transform: uppercase;
	font-weight: normal;
	color: #aaa;
	font-size: 12px;
	margin: 10px 0;
}
.product-price{
	font-size: 26px;
	margin: 20px 0;
}
.small-divider{
	width: 100%;
	border-top: 1px solid #ccc;
	margin: 0 0 20px 0;
}
.size-title{
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}
.size-container{
	display: flex;
	align-items: flex-start;
	width: 50%;
}
.product-size{
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
	text-align: center;
	-webkit-transition: border 0.3s;
}
.product-size a{
	display: block;
	width: 30px;
	height: 30px;
	padding: 4px 0;
}
.product-size:hover{
	border: 1px solid #EB001C;
	transition: 0.3s;
}
.measure-link{
	margin: 30px 0;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	width: 200px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: border 0.3s;
}
.measure-link a{
	display: block;
	width: 200px;
	padding: 3px 0;
}
.measure-link:hover{
	border-right: 1px solid #EB001C;
	border-left: 1px solid #EB001C;
	transition: 0.3s;
}
.buy-button{
	width: 200px;
	text-transform: uppercase;
	background-color: #DCD0FA;
	border-radius: 5px;
	padding: 10px 0;
	text-align: center;
	border: none;
	font-size: 16px;
	margin: 20px 0;
	-webkit-transition: background-color 0.3s;
}
.buy-button:hover{
	background-color: #DCA3FA;
	cursor: pointer;
	transition: 0.3s;
}
.product-description-container{
	padding: 30px;
}
.description-title{
	text-transform: uppercase;
	text-align: center;
}
.product-description{
	margin: 30px 0;
}


/*
.popup-wrapper-background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
*/
.b-popup{
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    top: 20%;
    left: 0;
}
.b-popup .b-popup-content{
    margin: 0 auto;
    width: 40%;
    height: 450px;
    padding:10px;
    background-color: #fff;
    font-size: 16px;
    box-shadow: 0px 5px 10px #000;
}
.b-popup-content h2{
	text-align: center;
	padding: 0 0 0 15px;
	text-transform: uppercase;
	font-weight: normal;
}
.close-container{
	width: 100%;
	text-align: right;
}
.close{
	margin: 20px 20px;
}
.popup-container{
	display: flex;
	justify-content: space-between;
}
.measurement-info{
	margin: 20px;
}
.measurement-preview-image{
	width: 300px;
}

.tg{
	border-collapse: collapse;
	border-spacing: 0;
	text-transform: uppercase;
	margin: 30px;
}
.tg td{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
  	overflow: hidden;
  	padding: 5px 10px;
  	word-break: normal;
}
.tg th{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
  	font-weight: normal;
  	overflow: hidden;
  	padding: 10px 5px;
  	word-break: normal;
}
.tg th{
	border: none;
}
.tg .tg-baqh{
	text-align: center;
	vertical-align: top;
}

.tg .tg-nrix{
	text-align: center;
	vertical-align: middle;
	border: none;
}